#body {
    /**background-color:#F0F0F0;**/
}
#sct_tpnv, #sct_produit, #sect_fiche,#sect_panier,#sect_registre,#sect_connexion,#sct_commande,#dv_mcompte {
    max-width: 1210px;
}

/**FICHE PRODUIT TOP NOUVEAUTE**/
.div_img {
    text-align: center;
}
.img_fch_pdt {
    height: 150px;
    margin: 0 auto;
}
.h_price, .div_price,.div_price_fiche { /**PRIX**/
   font-weight: bold;
   color: green;
}
/**LIEN**/
#ul_lien {
    list-style:none;
    margin: 0;
    padding:0;
}
    #ul_lien li {
            display: inline-block;
            vertical-align: top;
            color: black;
            padding: 10px;
            
    }  
        #ul_lien li h6 {
            margin: 0;
            
        }  
            #ul_lien li a {
                color: black;
                font-size: 14px;
                font-weight: 1px;
            } 
        #ul_lien .li_sep {
            padding-left: 0;
            padding-right: 0;
            
        } 
        #ul_lien .li_sep a {
            vertical-align: top;
            
        }  
/**LIST PRODUIT**/
#p_nb_result {
    text-align: right;
}
/**FICHE**/  
.p_info_fiche,#h_vtrpanier,.div_stock_tab,.h_titre  {
    color:  #969696;
}
#div_stock,.div_enstock_tab{ /**EN STOCK**/
    color: green;
}

#footer {
    background: black;
}